<footer style=" bottom: 0; width:100%;  text-align:center; color:#f0eaea; margin-top:20px; background: rgb(214, 5, 233);">
  <div class="container small">© <%= new Date().getFullYear() %> MediStore — All rights reserved</div>
</footer>
<script src="/js/user.js"></script>
