<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('../partials/header') %>
<div class="container">
  <div style="max-width:420px; margin:40px auto;">
    <div class="form">
      <h3>Login</h3>
      <form method="POST" action="/login">
        <label>Email</label>
        <input name="email" type="email" required />
        <label>Password</label>
        <input name="password" type="password" required />
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
      <p class="small" style="margin-top:10px;">Don't have an account? <a style="color: rgb(10, 111, 228);" href="/register">Register</a></p>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
</body>
</html>